body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #2a2a2a;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.menu-toggle {
  display: none; /* Скрываем кнопку переключения на десктопе */
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #2a2a2a;
  font-size: 1.5rem; /* Увеличиваем размер шрифта */
  line-height: 1.05;
}

nav {
  text-align: right;
  padding-right: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #2a2a2a;
  color: #fff;
}

/* Стили для мобильной версии */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Показываем кнопку переключения на мобильных устройствах */
  }

  nav {
    padding-right: 0px; /* Убираем сдвиг на мобильных устройствах */
    text-align: center; /* Центрируем навигацию на мобильных устройствах */
  }

  nav ul {
    display: none; /* Скрываем текущее меню */
    flex-direction: column; /* Элементы меню будут в столбец */
    width: 100%; /* Ширина меню */
  }

  nav ul li {
    display: block; /* Элементы меню в виде блока */
    text-align: center; /* Текст выравнивается по центру */
    margin-right: 0px;
  }

  nav ul li a {
    display: block; /* Ссылки тоже в виде блока */
    padding: 10px; /* Паддинг для ссылок */
  }

  nav.active ul {
    display: flex; /* Показываем меню, когда оно активно */
  }

  .image-container img {
    width: 60%; /* Устанавливаем ширину изображения */
    height: auto; /* Высота изменится пропорционально ширине */
  }
}

h2 {
  display: flex;
  align-items: center;
}

h2 img {
  margin-right: 20px;
}

.icon-small {
  width: 64px;
  height: 64px;
  border-radius: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  max-height: 600px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}
