body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  padding-top: env(safe-area-inset-top); /* Добавляем отступ для безопасной зоны сверху */
  padding-bottom: env(safe-area-inset-bottom); /* Добавляем отступ для безопасной зоны снизу */
}

header {
  background: #2a2a2a;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.menu-toggle {
  display: none; /* Скрываем кнопку переключения на десктопе */
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #2a2a2a;
  font-size: 1.5rem; /* Увеличиваем размер шрифта */
  line-height: 1.05;
}

nav {
  text-align: right;
  padding-right: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #2a2a2a;
  color: #fff;
}

/* Стили для мобильной версии */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Показываем кнопку переключения на мобильных устройствах */
    text-align: right; /* Выравниваем кнопку меню по левому краю */
    padding-right: 1rem; /* Добавляем отступ слева */
  }

  header {
    justify-content: flex-start; /* Выравниваем элементы шапки по левому краю */
  }

  nav {
    width: 100%; /* Задаем навигации ширину 100% */
    text-align: left; /* Выравниваем навигацию по левому краю */
  }

  nav ul {
    display: none; /* Скрываем меню */
    flex-direction: column; /* Располагаем пункты меню в столбец */
    padding-left: 0; /* Убираем левый отступ */
    width: 100%; /* Задаем ширину 100% */
  }

  nav ul li {
    text-align: left; /* Выравниваем текст пунктов меню по левому краю */
  }

  nav ul li a {
    padding: 10px; /* Добавляем отступ для ссылок */
    display: block; /* Делаем ссылки блочными элементами */
  }

  nav.active ul {
    display: flex; /* Показываем меню когда оно активно */
  }
}

h2 {
  display: flex;
  align-items: center;
}

h2 img {
  margin-right: 20px;
}

.icon-small {
  width: 64px;
  height: 64px;
  border-radius: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  max-height: 600px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}

/* Добавляем стили для темной темы */
.dark-theme {
  background: rgb(36, 36, 36);
  color: #fff;
  background-color: rgb(36, 36, 36); /* Цвет для тёмной темы */
}

.dark-theme header,
.dark-theme footer {
  background: rgb(20, 20, 20);
  color: #eee;
}

.dark-theme nav ul li a {
  color: #fff;
}

.dark-theme .menu-toggle {
  background: rgb(20, 20, 20);
  color: #fff;
}
